<section id="capacidades">
<h2>Capacidades</h2>


<h3>¿Qué podemos hacer por su empresa?</h3>
<div>
<h4>Asesoría y Consultoría</h4>
<ul>
<li>Comercial</li>
<li>Financiera</li>
<li>Legal </li>
<li>Imagen</li>
<li>Comunicación</li>
<li>Mercadeo</li>
</ul>
</div>

<ul>
<li>Integrar  un equipo adecuado y específico al proyecto, a través de la organización, coordinación y manejo de los recursos necesarios.</li>
<li>Analizar  información relevante del presente y del pasado, ponderando probables sucesos futuros, de tal manera que puedan determinarse los planes de acción que posibiliten a la organización minimizar riesgos, crisis y conflictos para el logro de objetivos.</li>
<li>Situar a la organización en la nueva realidad  que debe enfrentar y poder tomar acciones adecuadas para salir adelante con  los menores daños o pérdidas posibles.</li>
<li>Establecer contactos  y alianzas para  desarrollar planes de acción y  lograr objetivos establecidos  al menor costo y mayor retorno de inversión. </li>
<li>Interactuar  a través de puntos de contacto, medios y herramientas tecnológicas, para comunicar estratégicamente las soluciones desarrolladas.</li>
</ul>

<blockquote>
  <p>Lo importante no es contar a quien se contacta,<br/> sino contactar a quien cuenta.</p>
</blockquote>

</section>