<section class="content__section" id="contacto">
	<h2>Contacto</h2>

  <div class="contact">
    <address class="contact__address">Edificio Pasaje La Concordia, Piso 4, Oficina H<br/>
    Avenida Francisco Solano López<br/>
    Sabana Grande, Las Delicias<br/>
    Caracas, Venezuela</address>

    <dl class="contact__list">
      <dt class="contact__type">Móvil</dt>
      <dd class="contact__value"><a href="tel:+584141395280" class="value">+58 (414) 139-5280</a></dd>
      <dt class="contact__type">Teléfono</dt>
      <dd class="contact__value"><a href="tel:+582126351545" class="value">+58 (212) 635-1545</a></dd>
      <dt class="contact__type">Email</dt>
      <dd class="contact__value"><a href="mailto:westeves@taskgestion.com" class="value">westeves@taskgestion.com</a></dd>
    </dl>
  </div>

</section>
