<section id="contacto">
	<h2>Contacto</h2>
	<div class="vcard">
	<address class="adr"><span class="extended-address">Edificio Pasaje La Concordia, Piso 4, Oficina H</span><br/>
	<span class="street-address">Avenida Francisco Solano López<br/>
		Sabana Grande, Las Delicias</span><br/>
	<span class="locality">Caracas</span>, <span class="country-name">Venezuela</span></address>
	</div>

	<ul>
		<li class="tel"><abbr>M</abbr> <a href="tel:+584141395280" class="value">+58 (414) 139-5280</a></li>
		<li class="tel"><abbr>T</abbr> <a href="tel:+582126351545" class="value">+58 (212) 635-1545</a></li>
		<li class="tel"><abbr>Email</abbr> <a href="mailto:westeves@taskgestion.com" class="value">westeves@taskgestion.com</a></li>
	</ul>

</section>