<nav class="nav" id="main-nav">
  <ul class="nav__list">
    <li><a class="nav__item nav__item--selected" href="#inicio">Inicio</a></li>
    <li><a class="nav__item" href="#capacidades">Capacidades</a></li>
    <li><a class="nav__item" href="#servicios">Servicios</a></li>
    <li><a class="nav__item" href="#asociados">Asociados</a></li>
    <li><a class="nav__item" href="#contacto">Contacto</a></li>
  </ul>
</nav>
