<section id="asociados">
	<h2>Asociados</h2>

<h3>William Esteves</h3>

<ul>
<li>Publicista y experto en Mercadeo, con más de 25 años de experiencia local e internacional.</li>
<li>Con estudios en UCV (Caracas, Venezuela),  Universidad Simón Rodríguez (Caracas, Venezuela), ISUM (Caracas, Venezuela) y estudios de postgrado en Columbia University (Arden House, Harriman, NY), es un Administrador especializado en  Mercadeo, Comunicaciones de  Mercadeo e Investigaciones de Mercado.</li>
<li>Ha sido Presidente de  DMS Rapp Collins, Vicepresidente de Fischer Grey y Gerente General de FG Línea Directa (Grey Direct), Vicepresidente de McCann Erickson Venezuela, Vicepresidente y  Director de Corporación Publicitaria Nacional (CORPA).</li>
<li>Fue Vicepresidente de Mercadeo, Comunicación e Imagen de Consorcio Fonbienes  en Venezuela  y  Perú y  de Autofinanciera  en Colombia, Director de Mercadeo de Banco de Desarrollo del Microempresario (BDM), Gerente de Mercadeo de  Vencerámica y Gerente de Publicidad de Xerox de Venezuela.</li>
<li>A lo largo de su carrera  ha estado en contacto con  anunciantes como General Motors (Chevrolet), Ford,  BAT (Belmont, Cónsul y Kent), Jeep,  Honda, BMW, Kía, BBVA Provincial, Banco de Venezuela, Bolívar Banco, Mennen, Goodyear, Firestone, Oster, Gatorade, Polar, Regional, Compaq, Casio, Avon, Avensa, Swissair, McDonald’s y Subway entre otros.</li>
<li>Conferencista sobre  comunicación, publicidad y mercadeo directo  en Venezuela y otros países de América Latina.</li>
<li>Miembro de Direct Marketing Asociation (DMA)  y fundador de la Asociación Venezolana de Mercadeo Directo (AVMD)</li>
</ul>


<h3>Trino Márquez Cegarra</h3>

<ul>
<li>Sociólogo  y Doctor en Ciencias Sociales (<abbr title="Universidad Central de Venezuela">UCV</abbr>).</li>
<li>Maestría en Filosofía  (<abbr title="Universidad Central de Venezuela">UCV</abbr>).</li>
<li>Profesor Titular (<abbr title="Universidad Central de Venezuela">UCV</abbr>) y Profesor adscrito al Programa de Promoción de Investigadores (<abbr title="Programa de Promoción de Investigadores">PPI</abbr>) del <abbr title="Consejo Nacional de Investigaciones Científicas y Tecnológicas">CONICIT</abbr>.</li>
<li>Ex-presidente de la Comisión Presidencial para la Reforma del Estado (<abbr title="Comisión Presidencial para la Reforma del Estado">COPRE</abbr>).</li>
<li>Es Director Académico del <a href="http://www.cedice.org.ve/">Centro de Divulgación del Conocimiento Económico &ndash; <abbr title="Centro de Divulgación del Conocimiento Económico">CEDICE</abbr></a> y Profesor del Doctorado en Ciencias Sociales (<abbr title="Universidad Central de Venezuela">UCV</abbr>).</li>
<li>Autor de varios libros y artículos para revistas arbitradas:
<ul>
<li><cite>En defensa del individuo</cite></li>
<li><cite>Partidos políticos y pluralidad “Debate por Venezuela”</cite>, 2007</li>
<li><cite>Las Ciencias Sociales ante la desigualdad, la pobreza y la exclusión: realidades y problemas teóricos</cite>, 2005</li>
<li><cite>Presidencialismo, autoritarismo y culto a la personalidad</cite>, 2004</li>
<li><cite>Hugo Chávez: antecedentes de un enigma</cite>, 2001</li>
<li><cite>El Estado social en Venezuela</cite>, 2000</li>
</ul></li>
<li>Colaborador permanente de varios periódicos: <cite>El Universal</cite>, <cite>Notitarde</cite>, <cite>Venezuela Analítica</cite>, <cite>Noticiero Digital</cite> y <cite>Webarticulista</cite>.</li>
<li>Invitado a coloquios internacionales patrocinados por Liberty Fund (Indianápolis, <abbr title="Estados Unidos">EEUU</abbr>). </li>
</ul>

<h3>Carlos M. Fernandes</h3>

<ul>
<li>Comunicador Social, egresado de la <abbr title="Universidad Central de Venezuela">UCV</abbr>, Caracas.</li>
<li>Su experiencia incluye trabajos en el canal 8 como reportero de la <cite>Fuente Económica</cite> (1979), productor y moderador del programa <cite>Balance</cite> y presentador ancla de <cite>La Noticia</cite>.  Permaneció en <abbr title="Venezolana de Televisión">VTV</abbr> por más de 7 años como analista, productor y moderador de cobertura internacional.</li>
<li>En <abbr title="Radio Caracas Televisión">RCTV</abbr>, realizó desde 1986 numerosos especiales como analista, productor y moderador de cobertura internacional y allí se destacó como productor y moderador del espacio de opinión <cite>Lo de Hoy es Noticia</cite>. </li>
<li>En Venevisión fundó, produjo y moderó el espacio informativo <cite>24 Horas</cite>, donde fue ancla de la emisiones Meridiana y Estelar de <cite>El Noticiero Venevisión</cite>. </li>
<li>Conocedor del área económica, ha realizado trabajos de investigación en ese campo, sin dejar a un lado el área política. </li>
<li>Actualmente tiene en Radio Capital 710 <abbr>AM</abbr> un programa informativo, noticioso y de participación, así como también modera un programa vespertino del mismo corte en Melodía Stereo 93.5 <abbr>FM</abbr> y el programa matutino <cite>Entre Periodistas</cite>  en Televen, Canal 10.</li>
<li>En 1988 obtuvo el Premio &#8220;Monseñor Pellín&#8221; como Personaje de Televisión del Año, fue Premio Nacional de Periodismo Mención Televisión 1999 y ha sido galardonado con varios premios de Periodismo Económico, otorgados por Consecomercio, Conindustria y por la Cámara Venezolana de la Construcción.</li>
<li>Ha formado parte de  juntas directivas de empresas financieras y de seguros.</li>
</ul>

<h3>Héctor Rincón Quintero</h3>

<ul>
<li>Publicista, egresado del INP (Caracas, Venezuela).</li>
<li>Cerca de 20 años de experiencia en agencias de publicidad en Venezuela, tales como  Target DDB, Fischer Grey, Grupo Ghersy y ARS Publicidad, además de haber trabajado en  Telecomunicaciones Movilnet.</li>
<li>Su experiencia en manejo de clientes , tanto en áreas de ATL como en BTL y Digital, cubre  importantes cuentas como lo son  C. A. Cigarrera Bigott (Belmont, Cónsul y Kent), Cervecería Regional (Regional Light, Draft, Pilsen y Malta Regional),  Cervecería Polar (Polar Pilsen), Seagrams (Cacique, Chivas Regal,  Kino Táchira, Samsung, Bayer, Schick y Coca-Cola.</li>
</ul>

<h3>Jaime Zambra</h3>

<ul>
<li>Nacido en Chile y nacionalizado  norteamericano,  se graduó en la Academia Naval  de Chile  y  como Ingeniero Electrónico en la Universidad  Católica  de Valparaíso, Chile. Obtuvo un MBA en University of Houston, TX.</li>
<li>Su amplia experiencia incluye  posiciones en empresas  como Phillips Electronics, - para  el mercado chileno y luego para  América Latina  y  18 años en la organización de Dow Chemical  en América Latina ( Brasil, Perú , Venezuela y países del Caribe),   donde ocupó posiciones  para  desarrollo comercial,  ventas  y mercadeo.</li>
<li>Ha sido socio de  una empresa de telefonía celular GSM (DIGICEL) y director en múltiples  empresas de los  sectores  de telecomunicaciones, televisión,  industria petrolera , agricultura, construcción, entre otros : Telscape,  Latwin, Sealink,  AFTI,  Multingeniería,  Voz Datos, tanto en Venezuela  como  en  América Latina y  en Europa.</li>
<li>En los últimos años, se ha dedicado activamente a ser un Business Starter en   la consultoría para desarrollo comercial y  negocios  relacionados con apertura de mercados para empresas  multinacionales ,  dentro y fuera de Venezuela.</li>
</ul>

</section>