<section id="capacidades">
	<h2>Capacidades</h2>
	Asesoría y Consultoría:
	Comercial
	Financiera
	Legal 
	Imagen
	Comunicación
	Mercadeo
	Estructura Conceptual
	¿Qué podemos hacer por su empresa?

	1.	Integrar  un equipo adecuado y específico al proyecto, a través de la organización, coordinación y manejo de los recursos necesarios.
	2.	Analizar  información relevante del presente y del pasado, ponderando probables sucesos futuros, de tal manera que puedan determinarse los planes de acción que posibiliten a la organización minimizar riesgos, crisis y conflictos para el logro de objetivos.
	3.	Situar a la organización en la nueva realidad  que debe enfrentar y poder tomar acciones adecuadas para salir adelante con  los menores daños o pérdidas posibles.
	4.	Establecer contactos  y alianzas para  desarrollar planes de acción y  lograr objetivos establecidos  al menor costo y mayor retorno de inversión. 
	5.	Interactuar  a través de puntos de contacto, medios y herramientas tecnológicas, para comunicar estratégicamente las soluciones desarrolladas.



	“Lo importante no es contar a quien se contacta, sino contactar a quien cuenta”
</section>