<section id="bnc">
	<h2>Contratista <abbr title="Banco Nacional de Crédito">BNC</abbr></h2>

<a href="http://www.bnc.com.ve/" class="bnc"><img src="/static/images/bnc-logo.jpg" alt="Banco Nacional de Crédito Banco Universal" /></a>
	
<p>Task Gestión Estratégica atiende de manera directa y personal la canalización de sus requerimientos financieros a la medida de sus capacidades, a través de la oferta de productos y servicios del <a href="http://www.bnc.com.ve/">Banco Nacional de Crédito Banco Universal</a> (<abbr title="Banco Nacional de Crédito">BNC</abbr>), al ser Task Gestión Estratégica un Contratista Independiente Autorizado del banco y facultado para promover y gestionar operaciones de:</p>

<ul>
<li>Financiamiento: Capital de Trabajo, Líneas de Crédito, Créditos , Préstamos Comerciales y de Inversión.</li>
<li>Cartas de Crédito y Operaciones <abbr title="Comisión de Administración de Divisas">CADIVI</abbr>.</li>
<li>Servicios Bancarios y Administración del Efectivo.</li>
<li>Fideicomisos de Administración, Inversión, Prestaciones Sociales, Titularización y Garantías.</li>
<li>Cuentas a la Vista, Inversiones, Certificados a Plazo.</li>
</ul>

</section>