<section id="contacto">
	<h2>Contacto</h2>
	<div class="vcard">
	<h4><a href="http://www.taskgestion.com" class="fn org url">Task Gestión Estratégica</a></h4>
	<address class="adr"><span class="extended-address">Edificio Pasaje La Concordia, Piso 4, Oficina H</span><br/>
	<span class="street-address">Avenida Francisco Solano López<br/>
		Sabana Grande, Las Delicias</span><br/>
	<span class="locality">Caracas</span>, <span class="country-name">Venezuela</span></address>
	</div>

	<ul>
		<li class="tel"><abbr>M</abbr> <a href="tel:+584122221213" class="value">+58 (412) 222-1213</a></li>
		<li class="tel"><abbr>T</abbr> <a href="tel:+582124241616" class="value">+58 (212) 424-1616</a></li>
		<li class="tel"><abbr>T</abbr> <a href="tel:+582128167072" class="value">+58 (212) 816-7072</a></li>
	</ul>
	<a class="hcard" href="http://suda.co.uk/projects/microformats/hcard/get-contact.php?uri=http%3A%2F%2Fwww.taskgestion.com">Descargar vCard</a>
	
	
	<form class="contact">
		<div class="left">
		<p><label for="name">Nombre y Apellido</label><br/>
		<input type="text" name="name" id="name" /></p>
		<p><label for="email">Correo Electrónico</label><br/>
		<input type="text" name="email" id="email" /></p>
		<p><label for="phone">Teléfono</label><br/>
		<input type="text" name="phone" id="phone" /></p>
		</div>
		<div class="right">
		<p><label for="message">Mensaje</label><br/>
		<textarea name="message" id="message"></textarea></p>
		</div>
		<p class="submit"><input type="submit" value="Enviar mensaje" id="send" /> <span class="contact-error"></span></p>
	</form>
</section>