{% extends "base.html" %}
{% block title %}Task Gestión Estratégica{% endblock %}
{% block description %}Somos una empresa especializada en asesoría y consultoría para desarrollar soluciones estratégicas y efectivas  para crisis y conflictos empresariales relacionados con políticas y prácticas comerciales, legales, mercadeo, programas de comunicación,  relaciones corporativas y empresariales.{% endblock %}
{% block language %}es{% endblock %}

{% block content %}

<div id="content">

{% include 'inicio.html' %}
{% include 'capacidades.html' %}
{% include 'servicios.html' %}
{% include 'socios.html' %}
{% include 'contacto.html' %}

</div>

{% endblock %}