{% extends "base.html" %}
{% block title %}Task{% endblock %}
{% block language %}es{% endblock %}

{% block content %}

<section id="c-section1">
	Section 1
</section>

<section id="c-section2" style="display:none;">
	Section 2
</section>

<section id="c-section3" style="display:none;">
	Section 3
</section>

<section id="c-section4" style="display:none;">
	Section 4
</section>

<section id="c-section5" style="display:none;">
	Section 5
</section>

<section id="c-section6" style="display:none;">
	Section 6
</section>

{% endblock %}