<section id="servicios">
	PreVisión 
	Proceso de  analizar  información relevante del presente y del pasado, ponderando probables sucesos futuros, de tal manera que puedan determinarse los planes de acción que posibiliten a la organización minimizar riesgos, crisis y conflictos para el logro de objetivos.
	Business InSight
	Proceso para  establecer análisis y para tomar contacto con una verdad o realidad que hasta ese momento había permanecido inconsciente en una organización. 

	Una comprensión para situar a la organización en la nueva realidad  que debe enfrentar y poder tomar acciones adecuadas para salir adelante con  los menores daños posibles.
	InterAcción

	Proceso para  interactuar  a través de puntos de contacto (medios, herramientas tecnológicas, actividades de comunicación, etc.)  para comunicar estratégicamente las soluciones desarrolladas.
	Marketing Matchmaker
	Capacidad dedicada a  establecer contactos  y alianzas para  desarrollar planes de acciones y  lograr objetivos establecidos  al menor costo y mayor retorno de inversión. 
	Orquestación
	Capacidad de  integrar  un equipo adecuado y específico al proyecto, a través de la organización, coordinación y manejo de los recursos necesarios.
	Uno de los integrantes – quien maneja el área profesional de mayor incidencia - es designado  como director del proyecto. 
	Cada integrante se  acopla y aporta sobre su área de experticia.
</section>