<section id="socios">
	<h2>Socios</h2>

<h3>William Esteves, Presidente</h3>

<ul>
<li>Publicista y experto en Mercadeo, con más de 25 años de experiencia local e internacional.</li>
<li>Vicepresidente de Mercadeo, Comunicación e Imagen de Consorcio Fonbienes (Venezuela, Colombia y Perú).</li>
<li>Ha sido Presidente de  <abbr>DMS</abbr> Rapp Collins, Vicepresidente de Fischer Grey y Gerente General de <abbr title="Fischer Grey">FG</abbr> Línea Directa, Vicepresidente de McCann Erickson Venezuela, Vicepresidente y  Director de Corporación Publicitaria Nacional (<abbr title="Corporación Publicitaria Nacional">CORPA</abbr>), y Gerente de Mercadeo del Banco de Desarrollo del Microempresario (<abbr>BDM</abbr>).</li>
<li>Amplia experiencia en el área de Mercadeo Financiero, tanto en funciones de  asesoría  como en cargos ejecutivos en  la banca microfinaciera.</li>
<li>Conferencista sobre  comunicación, publicidad y mercadeo directo en Venezuela y otros países de América Latina.</li>
<li>Miembro de Direct Marketing Asociation (<abbr title="Direct Marketing Asociation">DMA</abbr>).</li>
</ul>

<h3>José Gilberto Rodríguez, Gerente General</h3>

<ul>
<li>Ingeniero  con más de 12 años contínuos de experiencia en la banca y en el sector microfinanciero.</li>
<li>En el área financiera tiene experiencia en el Banco Popular (Ecuador), Banco Solidario (Ecuador), Grupo Sysconsult (Ecuador).</li>
<li>Ha sido miembro director de la Junta Directiva del Banco de Desarrollo del Microempresario (<abbr>BDM</abbr>) en Venezuela y fue Gerente de Operaciones de  dicho banco.</li>
<li>Gerente de Proyectos Especiales del Banco Nacional de Crédito (BNC), Caracas, Venezuela.</li>
</ul>

<h3>Larry Hernández, Director</h3>

<ul>
<li>Ingeniero Mecánico, <abbr>UCV</abbr>, 1985.</li>
<li>Presidente <abbr title="and">&amp;</abbr> <abbr>CEO</abbr> de <abbr>DLB</abbr> Group Venezuela.</li>
<li>Ex-Presidente de la Asociación Nacional de Anunciantes &#8212; <abbr>ANDA</abbr> (2007-2009)</li>
<li>Socio de varias empresas relacionadas con comunicación y publicidad.</li>
<li>Ha desempeñado diferentes cargos en Telcel C.A. (como Telcel, luego como Telcel BellSouth y finalmente como Telefónica Movistar), donde fue Gerente General Regional en Guayana y en la Región Oriental, Director de la División de Grandes Usuarios y Director de la División de Publicidad y Comunicaciones. Anteriormente fue Director Comercial y Gerente de Ventas del diario El Nacional.</li>
</ul>


<h3>Trino Márquez Cegarra, Director</h3>

<ul>
<li>Sociólogo  y Doctor en Ciencias Sociales (<abbr title="Universidad Central de Venezuela">UCV</abbr>).</li>
<li>Maestría en Filosofía  (<abbr title="Universidad Central de Venezuela">UCV</abbr>).</li>
<li>Profesor Titular (<abbr title="Universidad Central de Venezuela">UCV</abbr>) y Profesor adscrito al Programa de Promoción de Investigadores (<abbr title="Programa de Promoción de Investigadores">PPI</abbr>) del <abbr title="Consejo Nacional de Investigaciones Científicas y Tecnológicas">CONICIT</abbr>.</li>
<li>Ex-presidente de la Comisión Presidencial para la Reforma del Estado (<abbr title="Comisión Presidencial para la Reforma del Estado">COPRE</abbr>).</li>
<li>Es Director Académico del Centro de Divulgación del Conocimiento Económico &ndash; <abbr title="Centro de Divulgación del Conocimiento Económico">CEDICE</abbr> y Profesor del Doctorado en Ciencias Sociales (<abbr title="Universidad Central de Venezuela">UCV</abbr>).</li>
<li>Autor de varios libros y artículos para revistas arbitradas:
<ul>
<li><cite>En defensa del individuo</cite></li>
<li><cite>Partidos políticos y pluralidad “Debate por Venezuela”</cite>, 2007</li>
<li><cite>Las Ciencias Sociales ante la desigualdad, la pobreza y la exclusión: realidades y problemas teóricos</cite>, 2005</li>
<li><cite>Presidencialismo, autoritarismo y culto a la personalidad</cite>, 2004</li>
<li><cite>Hugo Chávez: antecedentes de un enigma</cite>, 2001</li>
<li><cite>El Estado social en Venezuela</cite>, 2000</li>
</ul></li>
<li>Colaborador permanente de varios periódicos: <cite>El Universal</cite>, <cite>Notitarde</cite>, <cite>Venezuela Analítica</cite>, <cite>Noticiero Digital</cite> y <cite>Webarticulista</cite>.</li>
<li>Invitado a coloquios internacionales patrocinados por Liberty Fund (Indianápolis, <abbr title="Estados Unidos">EEUU</abbr>). </li>
</ul>

<h3>Jesús Rangel Rachadell, Director</h3>

<ul>
<li>Abogado, egresado de la Universidad Católica Andrés Bello, con postgrado en Derecho Administrativo en la Universidad Central de Venezuela.</li>
<li>Profesor de pregrado y postgrado en la Escuela de Salud Pública.</li>
<li>Profesor de Impugnación de Actos Electorales en la Facultad de Ciencias Jurídicas (<abbr title="Universidad Central de Venezuela">UCV</abbr>).</li>
<li>Ha sido asesor del Consejo Nacional Electoral de Venezuela.</li>
<li>Consultor Jurídico de Cavelba Casa de Bolsa (Caracas).</li>
<li>Actualmente es socio de <a href="http://rrmlegal.com">Rachadell, Rangel <span class="amp">&amp;</span> Moreno &ndash; Abogados</a>.</li>
</ul>

<h3>Joaquín Moreno Pampín, Director</h3>

<ul>
<li>Abogado egresado de la Universidad Católica Andrés Bello, con postgrado en Derecho Corporativo en la Universidad Metropolitana.</li>
<li>Socio en  <a href="http://rrmlegal.com">Rachadell, Rangel <span class="amp">&amp;</span> Moreno &ndash; Abogados</a>.</li>
<li>Ha tenido una amplia experiencia profesional, como socio de Álvarez <span class="amp">&amp;</span> Moreno Abogados y desempeñándose como Consultor Jurídico de Cremerca Sociedad Financiera (hoy Federal, Banco de Inversión), Consultor Jurídico del <cite>Diario El Globo</cite>, Consultor Jurídico del Banco de Desarrollo del Microempresario (hoy Banco Real, Banco de Desarrollo) y Asesor Legal de Sánitas de Venezuela.</li>
<li>Vasta experiencia en el área bancaria, relacionada a documentación y a recuperación de cartera.</li>
</ul>

<h3>Carlos M. Fernandes, Director</h3>

<ul>
<li>Comunicador Social, egresado de la <abbr title="Universidad Central de Venezuela">UCV</abbr>, Caracas.</li>
<li>Su experiencia incluye trabajos en el canal 8 como reportero de la <cite>Fuente Económica</cite> (1979), productor y moderador del programa <cite>Balance</cite> y presentador ancla de <cite>La Noticia</cite>.  Permaneció en <abbr title="Venezolana de Televisión">VTV</abbr> por más de 7 años como analista, productor y moderador de cobertura internacional.</li>
<li>En <abbr title="Radio Caracas Televisión">RCTV</abbr>, realizó desde 1986 numerosos especiales como analista, productor y moderador de cobertura internacional y allí se destacó como productor y moderador del espacio de opinión <cite>Lo de Hoy es Noticia</cite>. </li>
<li>En Venevisión fundó, produjo y moderó el espacio informativo <cite>24 Horas</cite>, donde fue ancla de la emisiones Meridiana y Estelar de <cite>El Noticiero Venevisión</cite>. </li>
<li>Conocedor del área económica, ha realizado trabajos de investigación en ese campo, sin dejar a un lado el área política. </li>
<li>Actualmente tiene en Radio Capital 710 <abbr>AM</abbr> un programa informativo, noticioso y de participación, así como también modera un programa vespertino del mismo corte en Melodía Stereo 93.5 <abbr>FM</abbr> y el programa matutino <cite>Entre Periodistas</cite>  en Televen, Canal 10.</li>
<li>En 1988 obtuvo el Premio &#8220;Monseñor Pellín&#8221; como Personaje de Televisión del Año, fue Premio Nacional de Periodismo Mención Televisión 1999 y ha sido galardonado con varios premios de Periodismo Económico, otorgados por Consecomercio, Conindustria y por la Cámara Venezolana de la Construcción.</li>
<li>Ha formado parte de  juntas directivas de empresas financieras y de seguros.</li>
</ul>

</section>